body {
  background-color: aqua;
}
h1,
h3 {
  text-align: center;
}
.links {
  display: flex;
  justify-content: space-evenly;
}
a {
  border: 1px solid black;
  padding: 20px 15px;
  border-radius: 4px;
  color: white;
  background-color: blue;
  text-decoration: none;
  margin-top: 50px;
}
a:hover {
  color: blue;
  background-color: white;
}
img {
  display: block;
  margin: 0 auto;
}
h3 {
  font-size: 25px;
}
p {
  line-height: 1.5;
  font-size: 20px;
}
